:root {
  --main-content-padding:       3em;
  --main-content-width:         calc(100% - var(--side-nav-width) - 2 * var(--main-content-padding));
  --main-content-full-width:    calc(100% - 2 * var(--main-content-padding));
  --main-content-heigth:        calc(100% - 2 * var(--main-content-padding) - var(--main-nav-height));
  --main-content-trasition:     all 500ms ease-in;
  --lane-entry-size:            160px;
  --lane-info-background-color: rgba(0, 0, 0, 0.8);
}

/* Main Content */
#main-content {
  left:             0;
  position:         fixed;
  overflow-y:       scroll;
  width:            var(--main-content-full-width);
  height:           var(--main-content-heigth);
  background-color: var(--surface-color);
  padding:          var(--main-content-padding);
  transition:       var(--main-content-trasition);
  display:          flex;
  flex-direction:   column;
}

#main-content.main-content-margin-right {
  margin-right: calc(var(--side-nav-width) + 1px);
  transition:   var(--main-content-trasition);
  width:        var(--main-content-width);
}

.tabs {
  display:        flex;
  flex-direction: row;
  min-height:     48px;
}

.tab-content {
  flex-grow:  1;
  margin-top: var(--main-content-padding);
}

.tab {
  display:             flex;
  flex-direction:      row;
  padding:             0 1em;
  text-decoration:     none;
  align-items:         center;
  justify-content:     center;
  cursor:              pointer;
  color:               var(--secondary-font-color);
  text-transform:      uppercase;
  border-bottom:       1px solid #D2D2D2;
  background-image:    linear-gradient(var(--primary-font-color), var(--primary-font-color));
  background-position: center bottom;
  background-repeat:   no-repeat;
  background-size:     0 0; /* default:  do not show */
}

.tab.active {
  color:           var(--primary-font-color);
  background-size: 100% 1px;
  border-bottom:   1px solid var(--primary-font-color);
  transition:      background-size ease-out .25s, border-bottom ease-out 2s;
}

.lane-wrapper {
  display:        flex;
  flex-direction: row;
  margin-top:     1em;
  margin-bottom:  1em;
}

.lane-info {
  display:          flex;
  flex-direction:   column;
  background-color: var(--lane-info-background-color);
  color:            var(--light-font-color);
  word-break:       break-word;
  text-transform:   uppercase;
  font-size:        0.8em;
  min-width:        var(--lane-entry-size);
  max-width:        var(--lane-entry-size);
  border:           solid 2px;
  border-color:     var(--secondary-surface-color);
  border-radius:    8px 0 0 8px;
  padding:          1em;
}

.lane-info h3 {
  hyphens:         auto;
  -moz-hyphens:    auto;
  -webkit-hyphens: auto;
  margin:          0 0 1em 0;
  font-size:       1.2em;
}

.lane-info-subtitle {
  margin-top:  1em;
  font-weight: 600;
}

.lane-info-spacer {
  flex-grow: 1;
}

.lane-info-entry {
  display:         flex;
  justify-content: space-between;
  white-space:     nowrap;
}

.lane-info-actions {
  display:        flex;
  flex-direction: row;
}

.lane-info-actions > button {
  padding:   0.5em;
  margin:    0;
  flex-grow: 1;
}

.lane-info-actions > button:first-child {
  border-radius: 8px 0 0 8px;
}

.lane-info-actions > button:last-child {
  border-radius: 0 8px 8px 0;
}

.lane-info-entry span {
  width: 2em;
}

.lane-wrapper:first-child {
  margin-top: 0;
}

.lane-wrapper:last-child {
  margin-bottom: 0;
}

.lane-entry-wrapper {
  display:          flex;
  flex-direction:   row;
  flex-wrap:        wrap;
  background-color: var(--secondary-surface-color);
  flex-grow:        1;
  border:           solid 2px;
  border-color:     var(--secondary-surface-color);
  border-radius:    0 8px 8px 0;
  overflow:         hidden;
}

.lane-entry {
  position:         relative;
  font-size:        0.8em;
  display:          flex;
  flex-direction:   column;
  height:           var(--lane-entry-size);
  width:            var(--lane-entry-size);
  margin:           0.5em 0 0.5em calc(0.5em + 2px);
  padding:          1em;
  background-color: var(--surface-color);
  overflow:         hidden;
  cursor:           pointer;
  box-shadow:       0 2px 1px -1px rgba(0, 0, 0, .2),
                    0 1px 1px 0 rgba(0, 0, 0, .14),
                    0 1px 3px 0 rgba(0, 0, 0, .12);
  transition:       box-shadow 0.2s linear;
}

.planned.lane-entry::after {
  pointer-events: none;
  position:       absolute;
  content:        '';
  top:            0;
  right:          0;
  border-style:   solid;
  border-width:   0 24px 24px 0;
  border-color:   transparent var(--primary-color) transparent transparent;
}

.lane-entry:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
              0 8px 10px 1px rgba(0, 0, 0, .14),
              0 3px 14px 2px rgba(0, 0, 0, .12);
  transition: box-shadow 0.2s linear;
}

.lane-entry-title {
  text-transform: uppercase;
  font-weight:    600;
}

.lane-entry-subtitle {
  height: 4em;
}

.lane-entry-value {
  display:        flex;
  flex-direction: row;
  text-transform: uppercase;
  margin:         0.25em 0;
}

.lane-entry-value span:first-child {
  margin-right: 0.25em;
  white-space:  nowrap;
}

.lane-entry-value span:last-child {
  margin-left: 0.25em;
  white-space: nowrap;
}

.lane-entry-value span:last-child i {
  margin-left: 0.25em;
  height:      12px;
  width:       12px;
}

.lane-entry .lane-entry-value-dots {
  flex-grow: 1;
}

.lane-entry-value-dots {
  overflow: hidden;
}

.lane-entry-value-dots::before {
  content:  '................................................................................................';
  overflow: hidden;
  color:    var(--primary-font-color);
}

.lane-entry-spacer {
  flex-grow: 1;
}

.lane-entry-footer {
  text-align: right;
}

.lane-entry:first-child {
  margin: 0.5em 0 0.5em 0.5em;
}

.actions {
  display:               grid;
  grid-gap:              0.5em;
  padding:               1em 0;
  grid-template-columns: repeat(2, 1fr);
}

.action-element:nth-child(2) {
  text-align: right;
}

.action-element label {
  margin-right: 1em;
}

.action-element input {
  margin-left: 1em;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  :root {
    --main-content-padding: 1em;
  }

  #main-content.main-content-margin-right {
    min-width: calc(100% - 2 * var(--main-content-padding));
    left:      -100vw;
  }

  .lane-info {
    min-width: calc(100% - 2 * var(--main-content-padding) - 4px);
  }

  .lane-wrapper {
    flex-direction: column;
  }

  .lane-info {
    border-radius: 8px 8px 0 0;
  }

  .lane-entry-wrapper {
    border-radius: 0 0 8px 8px;
  }

  .lane-entry:first-child {
    margin: 0.5em 0.5em 0 0.5em;
  }

  .lane-entry {
    width:  100%;
    margin: calc(0.5em + 2px) 0.5em 0 0.5em;
  }

  .lane-entry:last-child {
    margin: calc(0.5em + 2px) 0.5em 0.5em 0.5em;
  }

  .actions {
    grid-template-columns: repeat(1, 1fr);
  }

  .action-element {
    display:     flex;
    align-items: center;
  }

  .action-element button {
    flex-grow: 1;
  }

  .action-element input {
    flex-grow: 1;
  }
}
